classification/
computerEx0/
DMRF/
fields/
GMRF/
graphics/
markov/
misc/
proj3/
shape/
warp/
*.htaccess
bioid_images.m
bioid_landmarks.m
Contents.m
fms150path.m
fmsn20path.m
load_tracking.m
assignment1/HA1_Parana_Jan.mat
assignment1/proj1_data.m